@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #343541;
}

.box, .box-body, .box-footer {
  display: flex;
  gap: 1rem;
}

.box {
  flex-direction: column;
  padding: 1rem;
  background-color: #202020;
}
.box-body {
  justify-content: center;
}

.box-footer {
  flex-direction: column;
  color: #d9d9e3;
  width: 100%;
}

.box-footer button {
  background-color: #393939;
  color: #d9d9e3;
  font-size: 1rem;
  width: 100%;
}

.box-footer button:hover {
  background-color: #3d3d3d;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.buttons .reset {
  font-size: 0.8rem;
  width: fit-content;
  background-color: #0a0a0a;
  border: none;
  padding: 0 3px;
}

.mensaje {
  text-align: center;
}

.error {
  color:red;
}

.ok {
  color: green;
}