@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #eaeaea;
  background-image: url('../img/bg-avatar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box, .box-body, .sticker-container, .box-footer {
  display: flex;
  gap: 1rem;
}



.box {
  flex-direction: column;
  padding: 1rem;
  background-color: #FAF6EA;
  border-radius: 2rem;
}

.sticker-container {
  flex-direction: column;
  align-items: center;
}

.sticker-container img {
  width: 200px;
}

@media (max-width: 768px){
  .sticker-container img{
    width: 100%;
  }
  .box {
    margin: 1rem;
  }
}

.sticker-container input {
  font-family: 'Roboto Mono', monospace;
  width: 50px;
}

.box-footer {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box-footer p {
  font-size: 1.5rem;
}


.box-footer button {
  width: 150px;
  background-color: #808176;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: #FFF;
  font-size: 1.2rem;
}

.box-footer button:hover {
  cursor: pointer;
  background-color: #72736a;
}

.error {
  color: #c80000;
}